<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudiobookPlaylistIDs</key>
	<array/>
	<key>AudiobookTrackIDs</key>
	<array/>
	<key>MoviePlaylistIDs</key>
	<array/>
	<key>MovieTrackIDs</key>
	<array/>
	<key>MusicAlbumIDs</key>
	<array/>
	<key>MusicArtistIDs</key>
	<array/>
	<key>MusicGenreNames</key>
	<array/>
	<key>MusicPlaylistIDs</key>
	<array/>
	<key>MusicTrackIDs</key>
	<array/>
	<key>PodcastChannelIDs</key>
	<array/>
	<key>PodcastPlaylistIDs</key>
	<array/>
	<key>PodcastTrackIDs</key>
	<array/>
	<key>TVShowAlbumIDs</key>
	<array/>
	<key>TVShowNames</key>
	<array/>
	<key>TVShowPlaylistIDs</key>
	<array/>
	<key>TVShowTrackIDs</key>
	<array/>
	<key>iPodPrefs</key>
	<data>
	ZnJwZAEAGQABAQAB5p5a784y+idVE1ivDulX/QAAAAAAAAABAAAAAAAAAAAAAAAAAQAA
	AAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAABG4Aaal6VgQAABAAQAAAAA5p5a784y
	+icCAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AgAAAAEBAAAAAAAAAAAAAAEAAQAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAPs2MDK0LpsWtypK2e7bPr+nfvioAAAAAAAAAAAAAAAAAAAAAP8AAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAADwAAAAAAAQABAAAAAAEBgAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAV1MAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFNaMTIwNzE2NDlD
	MDEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAV1MAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFNaMTIwNzE2NDlDMDEAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAA=
	</data>
	<key>iTunesVersion</key>
	<string>12.10.7</string>
</dict>
</plist>
